@page
@model TravelSite2.Pages.hotelModel
@{
    var hotelId = HttpContext.Request.Query["hotelId"];
    var startDate = HttpContext.Request.Query["startDate"];
var endDate = HttpContext.Request.Query["endDate"];
}
<h2 id="hotelName" style="visibility: hidden;"></h2>
<div id="hotelAddress" style="visibility: hidden;"></div>
<div id="hotelContact" style="visibility: hidden;"></div>
<div id="hotelRatings" style="visibility:hidden"></div>
<div id="availableRooms" style="visibility:hidden"></div>

<script type="module">displayHotelDetails(@hotelId)</script>
<script type="module">getHotelRatings(@hotelId)</script>
<script type="module">getAvailableRooms("@startDate","@endDate",@hotelId)</script>
