@page
@model TravelSite2.Pages.searchResultsModel
@{
    var lat = HttpContext.Request.Query["latitude"];
    var longitude = HttpContext.Request.Query["longitude"];
    var checkIn = HttpContext.Request.Query["checkIn"];
    var checkOut = HttpContext.Request.Query["checkOut"];

}
<h1>Search Results</h1>
@Html.Raw(Model.JsonData)
<div id="hotelResults" style="visibility:hidden;">

</div>

<script type="module">
    displaySearchResults(@lat, @longitude, "@checkIn", "@checkOut");
</script>